/* General */
html, body {
    background-color: #F3DE8A;
}

/* Header */
.header {
    background-color: #92B4EC !important;
}

.header .headerTitle {
    text-transform: capitalize;
}

.header .headerIcon {
    position: absolute;
    right: 40px;
    top: 15px;
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #FFEEB4;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);
    transition: box-shadow 1s;
}

.header .headerIcon:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

/* output */

.outputBox {
    background-color: #FFDD67 !important;
    font-size: 16;
    padding: 10px;
    height: 500px !important;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);
    border: none;
    resize: none;
    overflow-y: auto;
}

.outputBox:focus {
    outline: none;
}